
@media screen and (max-width: 1440px){
  //...

  .modal__content-container{
    padding-top: 3em;
  }


  .modal__footer-container {


    .about__slidenumbers{
      margin: 0;
      font-size: 3.5em;

      .splitter{
        margin: 0 15px 0 15px;
      }
    }



    .section__arrows-container {

      .section__arrow-prev {
        width: 70px;
        height: 70px;
        padding: 15px 9px;

        &:active{
          padding-left: 6px;
          padding-right: 12px;
        }
      }
      .section__arrow-next {
        width: 70px;
        height: 70px;
        padding: 15px 9px;

        &:active{
          padding-right: 6px;
          padding-left: 12px;
        }
      }
    }
  }
}



// ~1360
@media screen and (max-width: 1366px) {

}

//1200
@media screen and (max-width: 1200px){
  //...
  h3.section__title, .facts__item-count{
    font-size: 3em;
  }

  .modal__card .object__characteristics-container{
    margin-top: 2em;
  }

  .modal__address-container{
    margin-top: 2em;
  }

  .modal__address{
    font-size: 1em;
  }



}

//992
@media screen and (max-width: 992px) {

  .modal__content-container{
    padding-right: 3.5vw;
    padding-left: 7vw;
  }

  .modal__description-paragraph{

    &:before{
      width: 14px;
    }
  }

  .modal__footer-container{
    width: calc(48% + 100px);
    padding-left: 7vw;

    .section__arrows-container{
      transform: none;

      .section__arrow-prev,
      .section__arrow-next{
        width: 50px;
        height: 50px;
      }
    }

    .about__slidenumbers{

      font-size: 2em;
    }
  }
}


//768
@media screen and (max-width: 768px) {

  h3.section__title, .facts__item-count{
    font-size: 2em;
  }

  .modal__card .object__characteristics-container{
    width: 90%;
  }

  .modal__description-paragraph{
    font-size: 0.9em;

    &:before{
      width: 12px;
    }
  }
}
//@media screen and (max-width: 720px){}

//576
@media screen and (max-width: 576px) {

  .modal__images-container{
    width: 35%;
  }

  .modal__content-container{
    width: 65%;
  }

  .modal__footer-container{
    width: 100%;
    padding-right: 7vw;
  }


}


//480
@media screen and (max-width: 480px) {

  .modal__container{
    flex-direction: column-reverse;
  }


  .modal__images-container{
    width: 100%;
  }

  .modal__images-slider{
    position: static;
    top: unset;
  }

  .modal__content-container{
    width: 100%;
    padding-left: 8.4375vw;
  }

  .modal__description-container{
    padding-left: 15px;
  }

  .modal__card .object__rooms{
    width: calc( (100% - 2px) / 3);
    justify-content: center;
  }

  .modal__card .object__square{
    width: calc( (100% - 2px) / 3);
    justify-content: center;
  }

  .modal__card .object__price{
    width: calc( (100% - 2px) / 3);
    justify-content: center;
  }

  .modal__request-container{
    margin-bottom: calc(3.75em + 50px);
    margin-left: 15px;
  }

  .modal__footer-container{
    padding: 0 2vw;
  }

  .modal__footer-container .about__slidenumbers .splitter{
    margin: 0 9px 0 9px;
  }

  .modal__socials-link:nth-child(2){
    margin: 0 5px;
  }
}
//320 start
