
@media screen and (max-width: 1440px){
  //...

}


// ~1360
@media screen and (max-width: 1360px) {
  .objects__subtitle-wrapper{
    margin-top: 1.5em;
    font-size: 1.2em;
  }
  .objects__filters-container{
    margin-top: 2em;
  }
}

//1200
@media screen and (max-width: 1200px){
  //...
  section.objects{
    margin-top: 75px;
  }

  .objects__body{
    margin-top: 45px;
  }
}

//992
@media screen and (max-width: 992px) {
  .objects__filters-container .filter{
    font-size: 13px;

    &.filter__submit{

      svg{
        //transform: translateY(-1px);
        display: none;
      }
    }
  }

  .objects__item{
    width: calc( (100% - 1.5% - 1.5%) / 2);
    margin: 0;

    &:nth-child(n + 4){
      margin-top: 0;
    }

    &:nth-child(3n-1){
      margin-left: 0;
      margin-right: 0;
    }

    &:nth-child(n + 3){
      margin-top: 20px;
    }

    &:nth-child(2n+1){
      //margin-left: 1.5%;
      margin-right: 1.5%;
    }
  }

  .objects__filters-container{
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .objects__filters-container .filter{
    width: 48.8%;
    height: 40px;

    &:nth-child(n+3){
      margin-top: 15px;
    }
  }


  .objects__filters-container button.filter__submit{
    height: 40px;
    margin-left: auto;

  }

  .objects__reset{
    width: 48.8%;
    height: 40px;
    top: unset;
    bottom: 0;
    left: 0;
  }
}




//768

//@media screen and (max-width: 720px){}

//576
@media screen and (max-width: 576px) {

}


//480
@media screen and (max-width: 480px) {

  .objects__filters-container .filter{
    width: 100%;

    &:nth-child(n+1){
      margin-top: 15px;
    }
  }

  .objects__reset{
    bottom: unset;
    left: unset;
    right: 0;
    top: calc(100% + 15px);
    width: 50%;
    margin-left: auto;
  }

  .objects__item{
    width: 100%;

    &:nth-child(n+1){
      margin-top: 25px;
    }
  }

}
//320 start
