
@media screen and (max-width: 1440px){
  //...
  .header__bgslide-container{
    min-height: 515px;
  }
  .header__content-wrapper{
    min-height: 515px;
    padding-top: calc(4.5vh + 85px); // +высота меню
    padding-left: 90px;
  }

  .header__content-title{
    font-size: 4.5em;
  }
  .header__content-text{
    margin-top: 2.5em;
    font-size: 1em;
  }
}


// ~1360
@media screen and (max-width: 1360px) {
  .header__logo-wrapper{

    svg{
      width: 48px;
      height: 40px;
    }
  }

  .header__menu-container.scrolled {

    .header__menu-links {

      .header__menu-link {
        font-size: 14px;
      }
    }

    .header__phone-wrapper{

      .header__phone-text{
        padding-left: 10px;
      }

      .header__phone-icon{

        padding-left: 27px;

        svg{
          width: 14px;
          height: 14px;
        }
      }
    }
  }




  .header__phone-text{
    height: 50px;
    font-size: 0.9em;
  }

  .header__phone-icon{
    width: 50px;
    height: 50px;
  }

  .header__menu-toggler{
    padding: calc( (50px - 21px) / 2) calc( (50px - 30px) / 2);
  }


  .header__content-title{
    font-size: 3em;
  }

  .header__content-text{
    margin-top: 1.5em;
    font-size: 0.9em;
  }

  .header__content-link{
    margin-top: 2.5em;
    font-size: 0.7em;
  }


}

//1200
@media screen and (max-width: 1200px){
  //...

  .header__bgslide-container{
    min-height: 375px;
  }
  .header__logo-wrapper{
    padding-left: calc( (100vw - 83vw) / 3);
  }

  .header__controls-container{

    padding-right: calc( (100vw - 83vw) / 3);
  }
  .header__menu-container.scrolled {

    .header__menu-links {

      //.header__menu-link {}
    }



    .header__phone-wrapper{

      //.header__phone-text{}

      .header__phone-icon{

        //svg{}
      }
    }
  }

  .header__content-wrapper{
    min-height: 375px;
  }


  //.header__content-text{}

  .header__dots{

    li{

      &.slick-active{

        button{
          width: 35px;
        }
      }

      button{
        width: 20px;
      }
    }
  }
}

//992
@media screen and (max-width: 992px) {

  .header__logo-wrapper{

    svg{
      width: 36px;
      height: 30px;
      padding: 9px 10px 9px 10px;
    }
  }

  .header__phone-text{
    height: 38px;
    //font-size: 0.8em;
  }

  .header__phone-icon{
    width: 38px;
    height: 38px;
  }

  .header__menu-toggler{
    width: 20px;
    height: 16px;
    //padding: calc( (48px - 21px) / 2) calc( (48px - 25px) / 2);
    padding: calc( (48px - 16px) / 2 - 5px) calc( (48px - 20px) / 2 - 5px);
  }

  .header__button-line{
    width: 20px;
  }


  .header__menu-container.scrolled {

    .header__logo-wrapper{

      svg{
        width: 36px;
        height: 30px;
        padding: 9px 10px 9px 10px;
      }
    }

    .header__menu-links {


      .header__menu-link {
        margin-right: 1.1vw;
        font-size: 11px;

        &:last-child{
          margin-right: 0;
        }
      }
    }



    .header__phone-wrapper{

      .header__phone-text{
        height: 38px;
        padding-left: 5px;
        font-size: 0.8em;
      }


      .header__phone-icon{
        height: 48px;
        padding-left: 15px;
        //svg{}
      }
    }
  }


  .header__content-wrapper{
    min-height: 325px;
    padding-left: 35px;
    padding-top: calc(4.5vh + 48px);

  }
  .header__content-title{
    font-size: 2.2em;
  }

  .header__content-link{
    padding: calc(1em + 5px) 2em 1em;
  }

}

@media screen and (max-width: 720px){
  .header__menu-container.scrolled{

    .header__menu-links{
      text-align: center;

      .header__menu-link{
        font-size: 10px;
        line-height: 2;
      }
    }

    .header__phone-text{
      min-width: 108px;
    }
  }

}

//768

@media screen and (max-width: 680px){
  .header__menu-container.scrolled{
    background-color: $cLightBlue;

    .header__menu-links{
      display: none;
    }

    .header__phone-text{
      display: none;
      min-width: 108px;
    }

    .header__phone-icon{
      padding-right: 15px;
      margin-right: 9px;
    }

    .header__menu-toggler{
      display: flex;
    }

  }

}

//576
@media screen and (max-width: 576px) {


  .header__logo-wrapper{
    padding-left: 0;
  }

  .header__controls-container{
    padding-right: 0;
  }
  .header__phone-text{
    font-size: 0.8em;
  }

  .header__phone-icon{  }


  .header__menu-container.scrolled {

    .header__logo-wrapper{
      padding-left: 0;

      //svg{}
    }

    .header__menu-links {

      //.header__menu-link {}
    }


    .header__controls-container{
      padding-right: 0;

      .header__phone-wrapper{


        .header__phone-text{
          display: none;
        }

        .header__phone-icon{
          width: 48px;
          height: 48px;
          padding-left: 0;
          padding-right: 0;


          svg{
            //width: 14px;
            //height: 14px;
          }
        }
      }
    }
  }





  .header__content-wrapper{
     padding-left: 0;
   }
}


//480
@media screen and (max-width: 576px) {
  .header__content-title{
    font-size: 2em;
  }

  .header__content-link{
    display: none;
  }

  .header__phone-text{
    display: none;
  }
}
//320 start