
@media screen and (max-width: 1440px){
  //...

}


// ~1360
@media screen and (max-width: 1360px) {

}

//1200
@media screen and (max-width: 1200px){
  //...
}

//992
@media screen and (max-width: 992px) {


}


//768

@media screen and (max-width: 768px){
  section.certificates .section-container{
    width: 83%;
    flex-direction: column;
    justify-content: center;
    margin-right: calc( (100% - 83%) / 2);
  }

  .certificates{

    .section-container{

    }
  }

  .certificates__content-container{
    width: 100%;
  }

  .certificates__slider-container{
    box-sizing: border-box;
    padding: 50px 40px 40px 40px;
    margin-top: 1em;
    width: 100%;
  }

}

//576
@media screen and (max-width: 576px) {

}


//480
@media screen and (max-width: 480px) {

  .certificates{

    .section__header-container{
      align-items: flex-start;
      padding-right: 0;
    }

    .section__arrows-container{
      flex-direction: column;
      align-items: flex-end;
    }

    .section__arrow-prev{
      margin-right: 0;
    }
  }
}
//320 start
