
@media screen and (max-width: 1440px){
  //...

}


// ~1360
@media screen and (max-width: 1360px) {
  section.about .section-container{
    flex-direction: column;
  }

  .about__content-container{
    width: 100%;
  }

  .about__subtitle-wrapper{
    margin-top: 1em;
  }

  .about__text-wrapper{
    padding-top: 1.875em;
  }

  .about .section__arrows-container{
    width: 40%;
    margin-left: auto;
    transform: translateY(100%);
  }

  .about__sliders-container{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .about__slider{
    display: flex;
    width: 50%;
  }

  .about__slide-information{
    width: 40%;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 0;
    margin-left: 5%;

    padding-top: 56px;
  }

  .about__slider-titles{
    width: 100%;
    margin-top: 2em;
  }
  .about__slider-title{

    span{
      font-size: 1.5em;
    }
  }
}

//1200
@media screen and (max-width: 1200px){
  //...

  section.about{
    padding-top: 75px;
  }
}

//992
@media screen and (max-width: 992px) {

  .about__slider-title span{
    font-size: 1.3em;
  }
}


//768

@media screen and (max-width: 720px){

  section.about{
    padding-bottom: 50px;
  }

  .about .section__arrows-container{
    margin-left: 0;
    width: 100%;
    transform: none;
  }

  .about__slidenumbers{
    font-size: 3.375em;
  }

  .about__slider-titles{
    margin-top: 1em;
  }

  .about__slider-title span{
    font-size: 1em;
  }

  .about__sliders-container{
    flex-direction: column-reverse;
  }

  .about__slider{
    width: 75%;
    margin-top: 1em;
  }

  .about__slide-information{
    margin-left: 0;
    padding-top: 0;
    width: 75%;
  }

}

//576
@media screen and (max-width: 576px) {

}


//480
@media screen and (max-width: 480px) {

  .about__slider{
    width: 100%;
  }

  .about__slide-information{
    width: 100%;
  }

}
//320 start
