//$color: black;
$cBlack: #000000;
$cLightBlue: #01B7FE;
$cBlue: #063C94;
$cDarkBlue: #00163F;
$cGrayBlue: #132C48;
$cGreen: #55A827;
$cDarkGray: rgba(36, 38, 46, 0.8);
$cWhite: #ffffff;
$cTransparentWhite: rgba(255, 255, 255, 0.4);
$cDarkWhite: #949CAD;

