.header__navigation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 420px){
    .header__navigation{
        width: 100%;
        justify-content: center;
    }
}