.third-screen__play{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);

  svg{
    display: block;
    width: 100%;
    opacity: 0.45;
    transition: all 0.3s ease-out;
  }

  //&:hover{
  //  cursor: pointer;
  //
  //  svg{
  //    opacity: 1;
  //  }
  //}
}