//$color: black;
$cBlack: #000000;
$cLightBlue: #01B7FE;
$cBlue: #063C94;
$cDarkBlue: #00163F;
$cGrayBlue: #132C48;
$cGreen: #55A827;
$cDarkGray: rgba(36, 38, 46, 0.8);
$cWhite: #ffffff;
$cDarkWhite: #949CAD;





//1600+
//$fzH1Desktop: 90px;
//$fzHeaderDesktop: 70px;
//$fzSubheaderDesktop: 45px;
//$fzTitleTextDesktop: 20px;
//$fzSimpleTextDesktop: 16px;
//
//$fzSmallHeaderDesktop: 29px;
//$fzSmallTextDesktop: 9px;

$fzH1Desktop: 5.625em;
$fzHeaderDesktop: 4.375em;
$fzSubheaderDesktop: 2.8125em;
$fzTitleTextDesktop: 1.25em;
$fzSimpleTextDesktop: 1em;

$fzSmallHeaderDesktop: 1.8125em;
$fzSmallTextDesktop: 0.5625em;



//1440-
