//$color: black;
$cBlack: #000000;
$cLightBlue: #01B7FE;
$cDarkBlue: #00163F;
$cDarkGray: #24262E;
$cWhite: #ffffff;
$cDarkWhite: #949CAD;

// $cBaseTextBlue: #27394E;
// $cLightBlue: #0165C7;
// $cWhite: #FFFFFF;
// $cGray: #CACACA;
// $cLightGray: #F5F8FA;
// $cFilterGray: #D8DFE5;
// $cDecorGray: #CACFD5;
// $cMaskBlue: #001936;
// $cRed: #EB0C0C;

// $cHoverBlue: #0061C1;

// $fBebasNeue: 'Bebas Neue', sans-serif;
// $fMuller: 'Muller', sans-serif;



//1600+
//$fzH1Desktop: 90px;
//$fzHeaderDesktop: 70px;
//$fzSubheaderDesktop: 45px;
//$fzTitleTextDesktop: 20px;
//$fzSimpleTextDesktop: 16px;
//
//$fzSmallHeaderDesktop: 29px;
//$fzSmallTextDesktop: 9px;

$fzH1Desktop: 5.625em;
$fzHeaderDesktop: 4.375em;
$fzSubheaderDesktop: 2.8125em;
$fzTitleTextDesktop: 1.25em;
$fzSimpleTextDesktop: 1em;

$fzSmallHeaderDesktop: 1.8125em;
$fzSmallTextDesktop: 0.5625em;



//1440-
